
@font-face {
  font-family: 'Think Big';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/assets/fonts/thinkbig.ttf') format('truetype')
}


body {
  margin:0;
  height:100%;
  background: #ffffff;
  
  background-size: 100% 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contain {
  display:block;
  width:100%; height:100%;
  object-fit: contain;
}

.stretch {
  display:block;
  width:100%; height:100%;
}

.cover {
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  body {
    margin:0;
    height:100%;
    background: #ffffff;
    
    background-size: 100% 100%;
  }
}

#splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-mask {
  width: 210px;
  animation: maskRotation 1s infinite;
}

.welcome-text {
  font-family: 'Think Big';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center; 
  color: black; 
}

@keyframes maskRotation {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}